
.card {
    -fx-padding: 30;
    -fx-background-color: #1c1c1c;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #333333;
    -fx-border-width: 1;
}


.text-field, .password-field {
    -fx-background-color: #262626;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-border-color: #333333;
    -fx-pref-width: 250;
}


.button {
    -fx-background-color: #1976d2; /* base blue */
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-padding: 10 24 10 24;

    -fx-border-radius: 6;
    -fx-cursor: hand;
}

/* Hover: lighter blue for feedback */
.button:hover {
    -fx-background-color: #2196f3;
}

/* Pressed: darker shade */
.button:pressed {
    -fx-background-color: #0d47a1;
}